@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

html
  color #3f3f3f
  font-size 100%
  line-height 1.4

body
  font 16px/26px 'Open Sans', Helvetica, Helvetica Neue, Arial

.fixed-header
  position fixed
  height 5em

.scrollable-content
  overflow-y scroll
  margin-top 5em
  height calc(100% - 5em)
