@require 'mixins'


.nav_overlay
  position fixed
  radius(0px 0px 6px 6px)
  position fixed
  top 0px
  left 200px
  background-color hsl(187,45,58)
  color white
  padding 0.5em
  font-size 20px
  font-weight bold
  font-family helvetica, arial, sans-serif
