@require 'mixins'


navHeight = 400px
navWidth  = 400px

.nav_overlay
  color white
  font-size 20px
  font-weight bold
  font-family helvetica, arial, sans-serif

  .tab
    overlay()
    top-openable(0, navHeight)
    left navWidth * 0.7
    radius(0px 0px 6px 6px)

  .content
    overlay()
    top-openable(0 - navHeight, navHeight)
    left 0
    width navWidth
    height navHeight
    radius(0px 0px 6px 6px)
