@require 'mixins'

.question-details
  hidden-sliding()
  bubbleBox()

  .question-details-content
    padding-left 1em

  h3
    color #e96f30
    margin-top 1em

  .answer
    border-bottom 1px dashed #C1C1C1
    padding-bottom 0.5em
    margin-top 1em

  .score-value
    display block