@require 'mixins'

.report_overlay
  vertical()
  radius(0px 0px 6px 6px)
  position fixed
  top 50%
  right 0px
  background-color hsl(187,45,58)
  color white
  padding 0.5em

  font-size 20px
  font-weight bold
  font-family helvetica, arial, sans-serif
  background-repeat no-repeat
