@require 'mixins'

selectable_row(hue)
  tr:nth-child(2n)
    background-color hsl(hue,0,93)

  tr
    &.selectable
      th
        text-align right
      &:hover
        background-color hsl(48,82,87)
        color #3a878b

.selectable
  &:hover
    cursor pointer

.report
  bubbleBox()
  hidden-sliding()
  margin 0
  overflow-y scroll

.no-report-msg
  text-align center
  margin-top 5em
  font-size 2em
  color #414141

.try
  margin-left 1em

table
  color black
  color hsl(0,0,25)
  font-size 14px
  text-align right
  width 100%
  margin-left auto
  margin-right auto
  selectable_row(0)


  th
    font-weight 500
    text-align center
    padding 0.5em 1em
  th.team_name
    width 45%

  td
    font-weight 300
    text-align center
    padding 0.5em 1em

  .marker
    box-sizing border-box
    radius(1em)
    width 2em
    height 2em
    padding 1px 0 0 0
    text-align center

    &.complete
      background-color hsl(0,0,67)

    &.incomplete
      background-color white
      border solid 1px #aaa;

  div.marker.score_-1 // test score
    background-color hsl(16,73,56)
    color hsl(0,0,100%)
  div.marker.score_0
    background-color rgb(190,34,40)
    color hsl(0,0,100%)
  div.marker.score_1
    background-color rgb(190,34,40)
    color hsl(0,0,100%)
  div.marker.score_2
    background-color rgb(241,87,34)
    color hsl(0,0,100%)
  div.marker.score_3
    background-color rgb(250,176,23)
    color hsl(0,0,100%)
  div.marker.score_4
    background-color rgb(127,194,65)
    color hsl(0,0,100%)
  div.marker.score_5
    background-color rgb(26,155,72)
    color hsl(0,0,100%)
  div.marker.score_6
    background-color rgb(26,155,72)
    color hsl(0,0,100%)

  span.tries
    background hsl(0,0,67)
    color hsl(0,0,100)
    padding 4px 10px 4px 9px
  span.tries.none
    background white
    border solid 1px #aaa;
    color #aaa
    padding 3px 13px 3px 12px
