@require 'mixins'

reportHeight = 100%
reportWidth  = 70%

.report_overlay
  color white
  font-size 20px
  font-weight bold
  font-family helvetica, arial, sans-serif

  .tab
    overlay(x:2px, y:2px)
    overlay()
    vertical()
    radius(0px 0px 6px 6px)
    top reportHeight * 0.5
    right-openable(0%, reportWidth)

  .content
    overlay(x:2px, y:2px)
    right-openable(- reportWidth, reportWidth)
    top 0
    width reportWidth
    height reportHeight
    radius(0px 0px 6px 6px)
    overflow hidden
