@require 'mixins'

reportHeight = 100%
reportWidth  = 50%

.report_overlay
  color white
  font-size 1em
  font-family 'Open Sans', helvetica, arial, sans-serif

  .tab
    cursor pointer
    font-size 1.25em
    overlay(x:2px, y:2px)
    overlay()
    vertical()
    radius(0px 0px 6px 6px)
    top reportHeight * 0.5
    right-openable(0%, reportWidth)

  .content
    border-left solid 5px hsl(210,76,36)
    overlay(x:2px, y:2px)
    right-openable(- reportWidth, reportWidth)
    top 0
    width reportWidth
    height reportHeight
    radius(0px 0px 0 0)
    overflow hidden
