@require 'mixins'

hidden-sliding()
  transition 500ms
  position absolute
  left 0px
  top 0px
  width 100%
  height 100%
  margin 4px
  box-sizing border-box
  &.hidden-left
    left -101%
  &.hidden-right
    left 101%


score_color(n)
  font-weight bold
  color hsl((n - 1) * 30, 100%, 80%)

selectable_row(hue)
  tr:nth-child(2n)
    background-color hsl(hue,0,93)

  tr
    &.selectable
      th
        text-align right
      &:hover
        background-color hsl(48,82,87)
        color #3a878b
        cursor pointer

.report
  bubbleBox()
  hidden-sliding()
  margin 0
  overflow-y scroll

.try
  margin-left 1em

table
  color black
  color hsl(0,0,25)
  font-size 14px
  text-align right
  width 100%
  margin-left auto
  margin-right auto
  selectable_row(0)


  th
    font-weight 500
    text-align center
    padding 0.5em 1em
  th.team_name
    width 45%

  td
    font-weight 300
    text-align center
    padding 0.5em 1em

  .marker
    box-sizing border-box
    radius(1em)
    width 2em
    height 2em
    padding 1px 0 0 0
    text-align center

    &.complete
      background-color hsl(0,0,67)

    &.incomplete
      background-color white
      border solid 1px #aaa;

  div.marker.score_1
    background-color hsl(16,73,56)
    color hsl(0,0,100%)
  div.marker.score_2
    background-color hsl(42,90,55)
    color hsl(0,0,100%)
  div.marker.score_3
    background-color hsl(45,98,83)
    background-color hsl(182,43,38)
    color hsl(0,0,100%)
  div.marker.score_4
    background-color hsl(91,42,46)
    color hsl(0,0,100%)
  div.marker.score_5
    background-color hsl(91,42,46)
    color hsl(0,0,100%)

  span.tries
    background hsl(0,0,67)
    color hsl(0,0,100)
    padding 4px 10px 4px 9px
  span.tries.none
    background white
    border solid 1px #aaa;
    color #aaa
    padding 3px 13px 3px 12px

.report_details
  hidden-sliding()
  bubbleBox()
  color hsl(0, 0, 25)
  font-size 1em
  overflow-y scroll
  padding 0
  .teamName
    font-size 1.25em
    padding .5em .75em 0
  a
    cursor pointer
    font-size .9em
    line-height 2em
    &:hover
      color hsl(187,45,20)
  a.return
    margin-left 1em
  div.x
    padding 1em
  div.x:nth-child(even)
    padding 0
  div.x
    div.x
      float left
      margin-right 3%
      margin-bottom 1em
      padding 0
      width 47%
  div.x:nth-child(even), div.x:nth-child(odd)
    div.x
      background #fff
      padding 0
    .question-hdr
      background #165ba1
      color #fff
      padding 4px 8px
    .question-bd
      border solid 1px #ededed
      border-radius: 0 0 13px 13px
      height 178px
      overflow auto
      padding 20px 20px 13px
      p
        margin-top 0
  h2
    margin 0 0 .5em
  h3
    color #e96f30
    float left
    margin-top 0
    width 100%
  h4
    font-weight normal
    margin 0
  .score-value
    clear both
    display block
    height 25px
    overflow hidden
    text-indent: 100%
    white-space: nowrap
    width 100%
    &.score-1
      background-image url(http://authoring.concord.org/assets/c-rater/1-5pt-scale.png)
      background-repeat no-repeat
      background-size 100%
    &.score-2
      background-image url(http://authoring.concord.org/assets/c-rater/2-5pt-scale.png)
      background-repeat no-repeat
      background-size 100%
    &.score-3
      background-image url(http://authoring.concord.org/assets/c-rater/3-5pt-scale.png)
      background-repeat no-repeat
      background-size 100%
    &.score-4
      background-image url(http://authoring.concord.org/assets/c-rater/4-5pt-scale.png)
      background-repeat no-repeat
      background-size 100%
    &.score-5
      background-image url(http://authoring.concord.org/assets/c-rater/5-5pt-scale.png)
      background-repeat no-repeat
      background-size 100%
   