@require 'mixins'

.TOC
  bubbleBox()
  h1 h2 h3 h4
    font-size 1em
  ul
    font-size 0.8em
    list-style none
    li
      a
        text-decoration none
        color hsl(187,45,58)
        &:hover
          color hsl(187,45,20)

  .students-count
    display inline-block
    width 1em
    background orange
    color white
    padding 0 0 0 0.5em